html, body {
	font-family: Helvetica, sans-serif;
	height: auto;
	max-width: 100%;
	padding-left: 10px;
}
.map-box {
	max-width: 100%;
}
svg {
	margin: 10px;
	padding: 10px;
}
ul.data-list {
	margin-bottom: 25px;
}

.container {
  display: flex;
}
